<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Hasura</title>
    
  </head>
  <body>

  	<h1>HASURA</h1>

    <p><b>Build powerful applications in minutes.</b></p>

	<p>Managed infrastructure · Built in APIs · Deployment automation</p>

	<p>Hasura provisions a managed server (single-node or a cluster) for you in minutes.</p>

	<p>Each server comes with data, auth, filestore APIs (BaaS) backed by postgres, that instantly integrate with your app.</p>

	<p>Host custom code in any language on this server with just a 'git push' (APIs, webapps, static-files).</p>
	
	
  </body>
</html>
